{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Albert Garcia Portfolio</title>

  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.svg' %}" />
  
  <!-- Fuentes -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet" />
  
  <!-- Boxicons -->
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  
  <!-- TailwindCSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css" rel="stylesheet">
  
  <!-- Estilos personalizados 
  <link href="{% static 'assets/styles/main.min.css' %}" rel="stylesheet" />
  -->
  
  <!-- Alpine.js -->
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>


  <body
    :class="{ 'overflow-hidden max-h-screen': mobileMenu }"
    class="relative"
    x-data="{ mobileMenu: false }"
  >
    
    <div id="main" class="relative">
      <div
  x-data="{
    triggerNavItem(id) {
        $scroll(id)
    },
    triggerMobileNavItem(id) {
        mobileMenu = false;
        this.triggerNavItem(id)
    }
}"
>
  <div class="fixed w-full z-50 top-0 py-3 sm:py-5  absolute
  ">
  <div class="container flex items-center justify-center">
    <div class="hidden lg:block">
      <ul class="flex items-center">
        
        <li class="group pl-6">
          
          <span
            @click="triggerNavItem('#about')"
            class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
            >About</span
          >
          
          <span
            class="block h-0.5 w-full bg-transparent group-hover:bg-yellow"
          ></span>
        </li>
        
        
        <li class="group pl-6">
          
          <span
            @click="triggerNavItem('#portfolio')"
            class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
            >Portfolio</span
          >
          
          <span
            class="block h-0.5 w-full bg-transparent group-hover:bg-yellow"
          ></span>
        </li>
        
        
        <li class="group pl-6">
          
          <span
            @click="triggerNavItem('#work')"
            class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
            >Work</span
          >
          
          <span
            class="block h-0.5 w-full bg-transparent group-hover:bg-yellow"
          ></span>
        </li>
        
      </ul>
    </div>
    <div class="block lg:hidden">
      <button @click="mobileMenu = true">
        <i class="bx bx-menu text-4xl text-white"></i>
      </button>
    </div>
  </div>
</div>

<button
  id="scrollTopBtn"
  class="z-10 fixed bottom-6 right-6 hidden w-12 h-12 rounded-full bg-primary text-white shadow-lg hover:bg-blue-700 flex items-center justify-center"
  onclick="scrollToTop()"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="h-6 w-6"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
  </svg>
</button>


<div
  class="pointer-events-none fixed inset-0 z-70 min-h-screen bg-black bg-opacity-70 opacity-0 transition-opacity lg:hidden"
  :class="{ 'opacity-100 pointer-events-auto': mobileMenu }"
>
  <div
    class="absolute right-0 min-h-screen w-2/3 bg-primary py-4 px-8 shadow md:w-1/3"
  >
    <button
      class="absolute top-0 right-0 mt-4 mr-4"
      @click="mobileMenu = false"
    >
      <img src="{% static '/assets/img/icon-close.svg' %}" class="h-10 w-auto" alt="" />
    </button>

    <ul class="mt-8 flex flex-col">
      
      <li class="py-2">
        
        <span
          @click="triggerMobileNavItem('#about')"
          class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
          >About</span
        >
        
      </li>
      
      
      <li class="py-2">
        
        <span
          @click="triggerMobileNavItem('#portfolio')"
          class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
          >Portfolio</span
        >
        
      </li>
      
      
      <li class="py-2">
        
        <span
          @click="triggerMobileNavItem('#work')"
          class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white"
          >Work</span
        >
        
      </li> 
      
    </ul>
  </div>
</div>


      <div><div
  class="relative bg-cover bg-center bg-no-repeat py-8"
  style="background-image: url('{% static 'assets/img/bg-hero.jpg' %}')"
>
  <div
    class="absolute inset-0 z-20 bg-gradient-to-r from-hero-gradient-from to-hero-gradient-to bg-cover bg-center bg-no-repeat"
  ></div>

  <div
    class="container relative z-30 pt-20 pb-12 sm:pt-56 sm:pb-48 lg:pt-64 lg:pb-48"
  >
    <div class="flex flex-col items-center justify-center lg:flex-row">
      <div class="rounded-full border-8 border-primary shadow-xl">
        <img
          src="{% static '/assets/img/1718215102820.jpeg' %}"
          class="h-48 rounded-full sm:h-56"
          alt="author"
        />
      </div>
      <div class="pt-8 sm:pt-10 lg:pl-8 lg:pt-0">
        <h1
          class="text-center font-header text-4xl text-white sm:text-left sm:text-5xl md:text-6xl"
        >
          Hello I'm Albert Garcia!
        </h1>
        <div
          class="flex flex-col justify-center pt-3 sm:flex-row sm:pt-5 lg:justify-start"
        >
          <div
            class="flex items-center justify-center pl-0 sm:justify-start md:pl-1"
          >
            <p class="font-body text-lg uppercase text-white">Let's connect</p>
            <div class="hidden sm:block">
              <i class="bx bx-chevron-right text-3xl text-yellow"></i>
            </div>
          </div>
          <div
            class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0"
          >
            <a href="https://www.linkedin.com/in/albert-garcia-512596310/" class="pl-4">
              <i
                class="bx bxl-linkedin text-2xl text-white hover:text-yellow"
              ></i>
            </a>
            <a href="https://github.com/albertgl99" class="pl-4">
              <i
                class="bx bxl-github text-2xl text-white hover:text-yellow"
              ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-grey-50" id="about">
  <div class="container flex flex-col items-center py-16 md:py-20 lg:flex-row">
    <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
      <h2
        class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
      >
        Who am I?
      </h2>
      <h4
        class="pt-6 font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
      >
        I'm a Full Stack developer specialized in Django.
      </h4>
      <p class="pt-6 font-body leading-relaxed text-grey-20">
        I'm a passionate Full Stack Developer with a strong focus on creating efficient, scalable, and user-friendly web applications. Specializing in Django, I thrive in building robust backend systems, integrating seamlessly with modern frontend technologies to deliver comprehensive digital solutions.
      </p>
      <div
        class="flex flex-col justify-center pt-6 sm:flex-row lg:justify-start"
      >
        <div class="flex items-center justify-center sm:justify-start">
          <p class="font-body text-lg font-semibold uppercase text-grey-20">
            Connect with me
          </p>
          <div class="hidden sm:block">
            <i class="bx bx-chevron-right text-2xl text-primary"></i>
          </div>
        </div>
        <div
          class="flex items-center justify-center pt-5 pl-2 sm:justify-start sm:pt-0"
        >
          <a href="https://www.linkedin.com/in/albert-garcia-512596310/">
            <i
              class="bx bxl-linkedin text-2xl text-primary hover:text-yellow"
            ></i>
          </a>
          <a href="/" class="pl-4">
            <i
              class="bx bxl-github text-2xl text-primary hover:text-yellow"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-2/5 lg:pl-12 lg:pt-0">
      <div>
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">
            HTML & TailwindCSS
          </h4>
          <h3 class="font-body text-3xl font-bold text-primary">80%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full bg-primary" style="width: 80%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">Python</h4>
          <h3 class="font-body text-3xl font-bold text-primary">90%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full bg-primary" style="width: 90%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">
            Django
          </h4>
          <h3 class="font-body text-3xl font-bold text-primary">85%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full bg-primary" style="width: 85%"></div>
        </div>
      </div>
      <div class="pt-6">
        <div class="flex items-end justify-between">
          <h4 class="font-body font-semibold uppercase text-black">Javascript</h4>
          <h3 class="font-body text-3xl font-bold text-primary">75%</h3>
        </div>
        <div class="mt-2 h-3 w-full rounded-full bg-lila">
          <div class="h-3 rounded-full bg-primary" style="width: 75%"></div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container py-16 md:py-20" id="portfolio">
  <h2
    class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
  >
    Check out my Portfolio
  </h2>
  <h3
    class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
  >
    Here's what I have done with the past
  </h3>

  <div
    class="mx-auto grid w-full grid-cols-1 gap-8 pt-12 sm:w-3/4 md:gap-10 lg:w-full lg:grid-cols-3"
  >
    <a
      href="https://calculadora-b7gd.onrender.com/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="{% static '/assets/img/calculadora.jpeg' %}"
        class="w-full shadow"
        alt="portfolio image"
      />
    </a>
    <a
      href="https://todoapp-gc8b.onrender.com/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="{% static '/assets/img/todoapp.jpeg' %}"
        class="w-full shadow"
        alt="portfolio image"
      />
    </a>
    <a
      href="https://weatherapp-skjx.onrender.com/"
      class="mx-auto transform transition-all hover:scale-105 md:mx-0"
    >
      <img
        src="{% static '/assets/img/weather.jpeg' %}"
        class="w-full shadow"
        alt="portfolio image"
      />
    </a>
  </div>
</div>


<div class="bg-grey-50 container py-16 md:py-20" id="work">
  <h2
    class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl"
  >
    My work experience
  </h2>
  <h3
    class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl"
  >
    Here's what I did before freelancing
  </h3>

  <div class="relative mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    <span
      class="left-2/5 absolute inset-y-0 ml-10 hidden w-0.5 bg-grey-40 md:block"
    ></span>

    <div class="mt-8 flex flex-col text-center md:flex-row md:text-left">
      <div class="md:w-2/5">
        <div class="flex justify-center md:justify-start">
          <span class="shrink-0">
            <img
              src="{% static '/assets/img/image.png' %}"
              class="h-auto w-32 fill-none"
              alt="company logo"
            />
          </span>
          <div class="relative ml-3 hidden w-full md:block">
            <span
              class="absolute inset-x-0 top-1/2 h-0.5 -translate-y-1/2 transform bg-grey-70"
            ></span>
          </div>
        </div>
      </div>
      <div class="md:w-3/5">
        <div class="relative flex md:pl-18">
          <span
            class="absolute left-8 top-1 hidden h-4 w-4 rounded-full border-2 border-grey-40 bg-white md:block"
          ></span>

          <div class="mt-1 flex">
            <i class="bx bxs-right-arrow hidden text-primary md:block"></i>
            <div class="md:-mt-1 md:pl-8">
              <span class="block font-body font-bold text-grey-40"
                >Jun 2023 - Present</span
              >
              <span
                class="block pt-2 font-header text-xl font-bold uppercase text-primary"
                >Full Stack Developer</span
              >
              <div class="pt-2">
                <span class="block font-body text-black"
                  >Developed client portals for automated virtual machine requests and backend tools for logging and monitoring (Django, MySQL, TailwindCSS, vSphere SDK). Created dynamic client-facing landings (Django, JavaScript, GSAP, TailwindCSS) and conducted infrastructure security analysis (Kali Linux, Burp Suite, Netcat).</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


      <div class="bg-primary">
  <div class="container flex flex-col justify-between py-6 sm:flex-row">
    <p class="text-center font-body text-white md:text-left">
      © 2024 Albert Garcia. All right reserved.
    </p>
    <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0">
      <a href="https://www.linkedin.com/in/albert-garcia-512596310/" class="pl-4">
        <i class="bx bxl-linkedin text-2xl text-white hover:text-yellow"></i>
      </a>
      <a href="https://github.com/albertgl99" class="pl-4">
        <i class="bx bxl-github text-2xl text-white hover:text-yellow"></i>
      </a>
    </div>
  </div>
</div>

    </div>

    <script src="{% static '/assets/js/main.js' %}"></script>

    
  </body>
</html>
